        body {
            font-family: Nunito, sans-serif;
        }

        .navbar {
            background-color: rgba(245, 244, 244, 150);
            border: 10px;
            box-shadow: 10px;
        }

        .navbar-brand img {
            height: 60px;
            width: auto;
        }

        .nav-link {
            color: rgb(52, 58, 64) !important;
            
        }

        .nav-link:hover {
            color: #095db1 !important;
        }

        .parallax {
            background-image: url("/img/photo.jpg");
            height: 100vh;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }

        .parallax h1 {
            font-size: 4rem;
        }

        .parallax p {
            font-size: 1.5rem;
            margin-top: 20px;
        }

        .section {
            padding: 60px 20px;
        }

        .btn-primary {
            background-color: #0062cc;
            border: none;
        }

        .btn-primary:hover {
            background-color: #004a99;
        }

        /* Footer Style */
        .footer {
            background-color: rgba(25, 42, 108, 0.952);
            color: white;
            padding: 40px 0;
        }

        .footer h5 {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .footer a {
            color: white;
        }

        .footer a:hover {
            text-decoration: none;
            color: #0062cc;
        }

        .footer p {
            margin: 0;
            font-size: 0.9rem;
        }

        .footer .bi {
            font-size: 1.2rem;
            vertical-align: middle;
        }